
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.rc-time-picker-input {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    height: 28px;
    cursor: text;
    font-size: 1.125rem !important;
    line-height: 1.5;
    color: #000 !important;
    background-color: #fff;
    background-image: none;
    border: none !important;
    border-radius: 4px;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rc-time-picker-input:focus{
    outline:none !important;
}

.rc-time-picker-clear {
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px !important;
    top: 14px !important;
    margin: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.rc-time-picker-clear-icon:after {
    content: "x";
    font-size: 14px !important;
    font-style: normal;
    color: #fff !important;
    display: inline-block;
    line-height: 1;
    height: 20px;
    width: 20px;
    transition: color 0.3s ease;
}

#domisili2 {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    background-color: white;
    border-radius: 0px;
    border-width: 1px !important;
    max-height: 150px !important;
    padding-left: 10px;
    padding-right: 10px;
    /* --tw-border-opacity: 1 !important;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity)) !important; */
    /* margin-top: 4px; */
    box-shadow: 0px 2px 4px rgb(0 0 0 / 30%);
}

.rbt-input-main {
    width: 100%;
    height: 3rem !important;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-bottom-width: 1px !important;
    line-height: 1.25rem;
    border-radius: 0 !important;
    /* --tw-shadow: unset; */
    box-shadow: unset !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
}
.rbt-input-main:focus {
    --tw-border-opacity: 1 !important;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity)) !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
}