<%- include('./partial_email/header', {title: 'Email sudah diverifikasi sebelumnya'}) %>
  <tr>
    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
      <div style="font-family: sans-serif; font-size: 18px; text-align: center; font-weight: normal; margin: 0; font-weight: bold; margin-left: 10px; margin-top: 20px; margin-bottom: 10px;">
        <%= message %>
      </div>
    </td>
  </tr>
<%- include('./partial_email/footer') %>
                  