<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woyooo</title>
</head>
<body style="margin: 0; padding: 0; background-color: black;">
    <div style="text-align: center;">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #fff;">Woyooooo</h1>
    </div>
</body>
</html>